

#mail,
#name,
#comment{
	border: none;
	//background-color: $blackblue;
	color: $white;
}

.mail-input{
	width: 70%;
	flex-wrap: wrap;

}
.top-input{
	width: 100%;

	input{
		width: calc(50% - 7px);
		min-height: 30px;
		background-color: $blackblue;
	}
}

.bottom-input{
	width: 100%;
	margin-top: 15px;

	textarea{
		width: 100%;
		min-height: 150px;
		background-color: $blackblue;
	}

}

.mail-input{
	a{
		padding: 10px 30px;
		margin: 15px 0;
		border-radius: 5px;
		display: inline-block;
		color: $graytext;
		background-color: $greenish;
		box-shadow: 0 4px $shadowgreen;
		color: $white;
	}
}

.more-info{
	width: 25%;

	h4{
		padding-left: 20px;
	}
}
