/* portfolio section start */

.portfolio{
	ul{
		justify-content: center;
	}
	li{
		background-color: $lighterblue;
		margin: 0 5px;
		min-height: 35px;
		min-width: 140px;
		padding-top: 8px;
		text-align: center;
		vertical-align: center;

			&:hover{
				cursor: pointer;
			}
		}

	.flex-container{
	 	flex-wrap: wrap;
	}

	img{
		width: 100%;
		display: block;
	}

	.portfolio_item{
		max-width: calc(25% - 20px);
		min-width: 200px;
	 	background-color: $brown;
	 	margin: 10px;
	 	position: relative;
	 }

	 .portfolio_item:hover{
	 	.img_overlay{
	 		display: flex;
	 	}
	 }

	.img_overlay{
	 	position: absolute;
	 	top: 0%;
	 	width: 100%;
	 	height: 100%;
	 	background-color: $darkblue;
	 	opacity: 0.6;
	 	justify-content: space-evenly;
	 	display: none;
	 	flex-direction: column;

	 	.fa-heart{
	 		font-size: 3rem;
	 	}

	}

	.active{
		background-color: $greenish;
	}
}




/* portfolio section end*/