
/* services rules */
.services{


	// min-height: 440px;
	font-family: $Roboto;

	h2{
		padding-bottom: 70px;
	}

	i{
		font-size: 2.5rem;
		text-align: center;
		color: $greenish;
		background: linear-gradient(to bottom right, $greenish, $blueish);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		position: relative;
		padding: 50px 50px;
		width: 140px;



		&::after{
			content:"";
			background-color: $lighterblue;
			border-radius: 50%;
			position: absolute;
			z-index: -1;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;

		
		}
	}

	h3{
		font-size: 1.5rem;
		font-weight:  300;
		text-align: center;
		margin: 0 auto;
		padding: 20px 0;
	}

	.services-col{
		text-align: center;
		margin-bottom: 50px;
	}
}

/* services end rules */