
//******* COLORS ********//

	$darkblue: #282a2e;
	$lighterblue: #313338;
	$greenish: #b0cd3b;
	$blueish: #1bbc9d;
	$white: #fff;
	$brown: #453a34;
	$shadowblue: #17987f;
	$graytext: #b6b6b6;
	$shadowgreen: #798f21;
	$darkgray: #424242;
	$blackblue: #222327;

//******* FONTS *******//

	 $OpenSans:'Open Sans', sans-serif;
	 $Roboto: 'Roboto', sans-serif;

//*******  BREAK SIZES  ********//

$break-small: 560px;
$break-medium: 960px;

// Progress circle variables //

$circle-width: 0.08em;
$circle-width-hover: 0.04em;
// colors default
$primary-color: #307bbb;
$secondary-color: #ccc;
$bg-color: #f5f5f5;
$primary-color-green: #4db53c;
$primary-color-orange: #dd9d22;
// colors dark skin
$primary-color-dark: #c6ff00;
$secondary-color-dark: #777;
$bg-color-dark: #666;
$primary-color-green-dark: #5fd400;
$primary-color-orange-dark: #e08833;

// Progress circle variables end //


