.pricing_img {
  background-image: url("../img/hero_img2-min.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
